.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: none;
}

.dialog-active {
    background-color: rgba(24, 29, 36, 0.804);
    display: block;
    width: 100%;
}

.dialog-content {
    justify-content: center;
    align-items: baseline;
    height: 100%;
    display: none;
}

.dialog-content-show {
    display: flex;
}

.dialog-content-main {
    margin-top: 100px;
    width: 350px;
    background-color: #2E3440;
    padding: 1.5rem;
    border-radius: 6px;
}

.dialog-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dialog-title {
    font-size: 1.5rem;
    font-weight: semibold;
}

.dialog-select {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dialog-select-option {
    padding: 1rem;
}

.dialog-footer {
    display: flex;
    justify-content: end;
}

.dialog-btn-submit {
    background-color: #3B4252;
    margin-right: .8rem;
}

.dialog-btn-submit:hover {
    border-color: #5E81AC;
}

.dialog-btn-cancel {
    background-color: #BF616A;
}