:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: .9em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.082);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

pre {
  font-size: 14px;
  overflow: auto;
  max-height: 95vh;
  white-space: pre-wrap;
  word-break: break-all
}

.container {
  display: grid;
  grid-template-columns: 45px 1fr;
  min-height: 100vh;
}

.container nav {
  border-right: 1px solid #3B4252;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: none;
}

.dialog-active {
  background-color: rgba(24, 29, 36, 0.804);
  display: block;
  width: 100%;
}

.dialog-content {
  justify-content: center;
  align-items: baseline;
  height: 100%;
  display: none;
}

.dialog-content-show {
  display: flex;
}

.dialog-content-main {
  margin-top: 100px;
  width: 350px;
  background-color: #2E3440;
  padding: 1.5rem;
  border-radius: 6px;
}

.dialog-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dialog-title {
  font-size: 1.5rem;
  font-weight: semibold;
}

.dialog-select {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dialog-select-option {
  padding: 1rem;
}

.dialog-footer {
  display: flex;
  justify-content: end;
}

.dialog-btn-submit {
  background-color: #3B4252;
  margin-right: .8rem;
}

.dialog-btn-submit:hover {
  border-color: #5E81AC;
}

.dialog-btn-cancel {
  background-color: #BF616A;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2E3440;
    color-scheme: dark;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

}
